*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: rgb(77, 114, 128);
  }
  
  header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: darkslategray;
  }
  
  main {
    display: flex; 
    justify-content: center;
  }
  
  form {
    width: 350px;
    height: 350px;
    background-color: rgb(45, 180, 242);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
  }
  
  button {
    background-color: #0e0909;
    width: 75px;
    height: 45px;
    color: rgb(208, 242, 239);
    border: none;
    margin: 5px;
    cursor: pointer;
  }
  
  input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  
  #age-container {
    width: 85%;
  }
  
  #radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #people-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .people-cover-image {
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .people-card {
    background-color: rgb(45, 180, 242);
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .people-name {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .people-age {
    font-size: 15px;
    margin: 5px 0;
  }
  .people-gender {
    font-size: 15px;
    margin: 5px 0;
    
  }
  
  .btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    
  }
  
  .btns-container > button {
    width: 20px;
  }